.bg-blue, .btn-blue {
  background: rgba(37,70,170,0.83) !important;
}

.btn-blue {
  opacity: 1;
}

.btn-blue:hover {
  opacity: 0.7;
}

.bg-green {
  background: #03DAC5 !important;
}

.bg-blueish {
  background: #48A6C3C1 !important;
}

table.special-cols tr > :not(td[colspan="7"], :first-child) {
  width: 44px;
}